{
  "token": "Paste the token of your discord bot here.",
  "clientId": "Paste the id of your discord bot here.",
  "handle_interactions": true,
  "lunarHQ_url": "http://localhost:6060/",
  "WEBAPP_URL": "http://46.101.14.43/welcome",
  "API_SECRET": "Paste shared secret between backend and discord bot here"
}