{
  "token": "",
  "clientId": "",
  "environment": "production",
  "handle_interactions": true,
  "lunarHQ_url": "",
  "botName": "LunarHQ",
  "DISCORD_VERIFICATION_SECRET": "",
  "API_SECRET": ""
}
